@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

header {
  width: 100%;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

i {
  color: #fff;
}

.header-icons {
  display: flex;
  gap: 14px;
}

.header-icons a:hover i {
  -webkit-animation: translatey 0.8s infinite alternate;
          animation: translatey 0.8s infinite alternate;
  color: #d34040;
}

@-webkit-keyframes translateY {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-8px) scale(1.1);
  }
}

@keyframes translateY {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-8px) scale(1.1);
  }
}
.header-button {
  border: 1px solid #fff;
  padding: 8px 24px;
  border-radius: 4px;
  color: #fff;
  background-color: transparent;
  transition: background-color 0.8s;
}

.header-button:hover {
  border: 1px solid #d34040;
  background-color: #d34040;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 14px;
}

@media screen and (max-width: 750px) {
  .header-content {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header-content i {
    margin-top: 16px;
    font-size: 34px;
  }
  .header-logo img {
    width: 160px;
    margin-top: 46px;
  }
  .header-button {
    display: none;
  }
}
.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 8px;
}

.bg-home {
  position: relative;
}

.bg-home::after {
  content: "";
  display: block;
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.1), #06121e), url("../Imagens/pexels-photo-7654129.jpeg");
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
  opacity: 0, 9;
}

.hero {
  color: #fff;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 14px;
}
.hero h1 {
  text-align: center;
  line-height: 150%;
  max-width: 940px;
  font-size: 48px;
}
.hero p {
  text-align: center;
  margin: 14px 0;
}

.button-contact {
  padding: 14px 28px;
  color: #fff;
  background-color: #d94140;
  border: 0;
  font-size: 18px;
  font-weight: 600;
  margin: 14px;
}

.button-contact:hover {
  -webkit-animation: scalebutton 0.08s alternate infinite;
          animation: scalebutton 0.08s alternate infinite;
}

@-webkit-keyframes scalebutton {
  from {
    transforme: scale 1;
  }
  to {
    transform: scale 1.07;
  }
}

@keyframes scalebutton {
  from {
    transforme: scale 1;
  }
  to {
    transform: scale 1.07;
  }
}
@media screen and (max-width: 768px) {
  .hero {
    min-height: 60vh;
  }
  .hero h1 {
    font-size: 34px;
    padding: 0 14px;
    width: 100%;
  }
  .hero p {
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  .hero h1 {
    font-size: 24px;
  }
}
.about {
  background-color: #06121e;
  overflow: hidden;
  color: #fff;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  padding: 34px 14px 64px 14px;
}
.about-content img {
  max-width: 400px;
}

.about-content div {
  flex: 1;
}

.about-description h2 {
  font-size: 38px;
  margin-bottom: 24px;
}
.about-description p {
  margin-bottom: 14px;
  line-height: 150%;
}

@media screen and (max-whidt: 768px) {
  .about-content {
    flex-direction: column;
  }
}
.services {
  background-color: #fff;
  color: #232224;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 54px 14px;
}

.services-content h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 38px;
  margin-bottom: 32px;
}

.services-content p {
  line-height: 150%;
  margin-bottom: 20px;
  text-align: center;
  max-width: 780px;
}

.services {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contadorserv img {
  margin-bottom: 25px; /* Aumente este valor conforme necessário */
}

.contador strong {
  margin-top: 25px; /* Aumente este valor conforme necessário */
}

.contadorserv {
  display: flex; /* Ativa o Flexbox */
  align-items: center; /* Alinha verticalmente o conteúdo ao centro */
  gap: 20px; /* Espaço entre a imagem e o texto */
}

.contadorserv img {
  max-width: 200px; /* Define a largura máxima da imagem */
  height: auto; /* Mantém a proporção da imagem */
}

.contador {
  flex: 1; /* Faz o texto ocupar o espaço restante */
}

.contador strong {
  font-size: 18px; /* Ajusta o tamanho da fonte, opcional */
  margin-bottom: 8px; /* Espaçamento entre o título e o botão */
  display: block; /* Garante que o título tenha comportamento de bloco */
}

.contador button {
  background-color: #e70808;
  color: #fff;
  padding: 4px 8px;
  border: 0;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 54px 0;
  gap: 24px;
  color: #fff;
}

.footer-icons {
  display: flex;
  gap: 24px;
  color: #fff;
}

.btn-whatsapp {
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 99;
}
.btn-whatsapp img {
  width: 80px;
  transition: transform 0.4s;
}
.btn-whatsapp img:hover {
  transform: scale(1.2);
}

.btn-whatsapp .tooltip-text {
  visibility: hidden;
  position: absolute;
  width: 120px;
  top: 8px;
  left: -141px;
  padding: 4px;
  border-radius: 8px;
  text-align: center;
  background-color: #232224;
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s;
}

.btn-whatsapp:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .btn-whatsapp img {
    max-width: 54px;
  }
}
body {
  font-family: "Sora", sans-serif;
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #06121e;
}

button {
  font-family: "Sora", sans-serif;
  cursor: pointer;
}

svg {
  width: 100%;
}

img {
  width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */